{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.Titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.Date ? evenement.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ evenement.Resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ evenement.Contenu }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{{ evenement.Validation ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
