{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
 {% if app.user %}
    <h1 class="welcome-text new-welcome"> Bienvenue, {{ app.user.getPrenom()}} {{ app.user.getNom() }}!</h1>
    {% endif %}
       
    <div class="inscription">
        <h1 class="titreInscription">Inscrivez-vous!</h1>

        {# Affichage des messages flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {# Inclure le formulaire en passant l'objet form #}
        {{ include('utilisateur/_form.html.twig', { 'form': form }) }}
    </div>
{% endblock %}
