<div class="footer">
    <div class="footer-left">
        <p class="title">PLAN DU SITE</p>
        <nav class="nav-footer">
            <a href="{{path('app_home')}}" class="linkFooter">Accueil</a>
            <a href="{{path('app_article_index')}}" class="linkFooter">Articles</a>
            <a href="{{path('app_evenement_index')}}" class="linkFooter">Evènements</a>
            <a href="{{path('app_contact_index')}}"class="linkFooter">Contact</a>
        </nav>
    </div>

    <div class="footer-right">
            <a href="{{ path('legal_mentions') }}" class="linkFooter">Mentions légales</a>        
            <a href="{{ path('privacy_policy') }}" class="linkFooter">Politique de confidentialité</a>

    </div>
</div>