<div class="header">
        <div class="titleImg">
                <a href="{{path('app_home')}}">
                        <img class="logo" src="/images/logo.png" alt="Logo">
                </a>

                <a class="link" href="{{path('app_home')}}">
                        <h2 class="title">LES PERLES D'EGYPTE </h2>
                </a>
        
        </div>
        <div class="buttonHeader">
                <a href="{{path('app_article_index')}}" class="button">Articles</a>
                <a href="{{path('app_evenement_index')}}" class="button">Evènements</a>
                <a href="{{path('app_contact_index')}}"class="button">Contact</a>
                <a href="{{path('app_utilisateur_new')}}"class="button">Inscription</a>
                <a href="{{path('app_contact_index')}}"class="button">Connexion</a>
        </div>
</div>