{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    
        {% include('includes/header.html.twig') %}

    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.Email }}</td>
                <td>{{ contact.Objet }}</td>
                <td>{{ contact.Message }}</td>
                <td>{{ contact.Nom }}</td>
                <td>{{ contact.Prenom }}</td>
                <td>{{ contact.Date ? contact.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}
