{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    

<div class="articles">
    <h1>Articles</h1>
</div>

<div class="categories-container">
    <div class="categorieArticles">
        <img src="images/iconePyramides.png" alt="Pyramides avec soleil">
        <button>Actualités</button>
    </div>
    <div class="contenaireCard">
       
        {% set hasArticles = false %}

        {% for article in articles %}
            {% if article.categorie.nom == 'Actualités' %}
                {% set hasArticles = true %}
                <div class="actualité1 p img"> 
                    <p class="titreArticle">{{ article.Titre }}</p>
                    <p class="date">{{ article.Date ? article.Date|date('Y-m-d H:i:s') : '' }}</p> 
                    <p class="event-resume">{{ article.Resume }}</p>
                    <p class="event-contenu">{{ article.Contenu }}</p>
                    <p class="event-validation">{{ article.Validation ? 'Yes' : 'No' }}</p>
                    <p class="categorie">Catégorie : {{ article.categorie.nom }}</p> 
                    <div class="button-group">
                        <a class="bouton fondBouton" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if not hasArticles %}
            <div class="actus">
                <p>Pas d'article</p>
            </div>
            <div class="button-group">
                <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
            </div>
        {% endif %}
    </div>

    <div class="categorieArticles">
        <img src="images/iconePharaon.png" alt="Icône d'un pharaon">
        <button>Personnages</button>
    </div>
    <div class="contenaireCard">
       
        {% set hasArticles = false %}

        {% for article in articles %}
            {% if article.categorie.nom == 'Personnages' %}
                {% set hasArticles = true %}
                <div class="actualité1 p img"> 
                    <p class="titreArticle">{{ article.Titre }}</p>
                    <p class="date">{{ article.Date ? article.Date|date('Y-m-d H:i:s') : '' }}</p> 
                    <p class="event-resume">{{ article.Resume }}</p>
                    <p class="event-contenu">{{ article.Contenu }}</p>
                    <p class="categorie">Catégorie : {{ article.categorie.nom }}</p> 
                    <div class="button-group">
                        <a class="bouton fondBouton" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if not hasArticles %}
            <div class="actus">
                <p>Pas d'article</p>
            </div>
            <div class="button-group">
                <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
            </div>
        {% endif %}
    </div>

    <div class="categorieArticles">
        <img src="images/iconeFemme.png" alt="Icône d'une femme égyptienne">
        <button>Vie quotidienne</button>
    </div>
    <div class="contenaireCard">
       
        {% set hasArticles = false %}

        {% for article in articles %}
            {% if article.categorie.nom == 'Vie quotidienne' %}
                {% set hasArticles = true %}
                <div class="actualité1 p img"> 
                    <p class="titreArticle">{{ article.Titre }}</p>
                    <p class="date">{{ article.Date ? article.Date|date('Y-m-d H:i:s') : '' }}</p> 
                    <p class="event-resume">{{ article.Resume }}</p>
                    <p class="event-contenu">{{ article.Contenu }}</p>
                    <p class="event-validation">{{ article.Validation ? 'Oui' : 'Non' }}</p>
                    <p class="categorie">Catégorie : {{ article.categorie.nom }}</p> 
                    <div class="button-group">
                        <a class="bouton fondBouton" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
                        <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if not hasArticles %}
            <div class="actus">
                <p>Pas d'article</p>
            </div>
            <div class="button-group">
                <a class="bouton fondBouton" href="{{ path('app_article_new') }}">Nouvel article</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}